In [1]:
def LR_kupiec(N, observations):
    p = N/observations
    return = -2*np.log(((1-p)**(observations - N)*p**N)/((1-N/observations)**(observations - N)*(N/observations)**N))

SyntaxError: invalid syntax (<ipython-input-1-4bf66d2405bb>, line 3)

In [ ]:
def LR_ind():
    pass

In [ ]:
n00 = 0
n01 = 0
n10 = 0
n11 = 0
violations = df['Violations']
v_p = violations[0]
i = 1
while i < len(violations):
    if v_p == violations[i] and v_p == 0:
        n00 += 1
    elif vp != violations[i] and v_p == 0:
        n01 += 1
    elif vp != violations[i] and v_p == 1:
        n10 += 1
    else:
        n11 += 1
    v_p = violations[i]
    i += 1

In [16]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.array([[-889.003707, -2554.503872, 1], [-2554.503872, -2202.221691, 0], [-887.527423, -2193.69257, 1], [-274.344126, -2160.290746, 0]]),  columns = ['PnL', 'VaR', 'Violations'])
violations = df['Violations']
df

           PnL          VaR  Violations
0  -889.003707 -2554.503872         1.0
1 -2554.503872 -2202.221691         0.0
2  -887.527423 -2193.692570         1.0
3  -274.344126 -2160.290746         0.0

In [15]:
import vartests

vartests.failure_rate(violations)

Failure rate of 50.0%

0.5